auth-ui:
  image: partixyz/auth-ui:${AUTH_UI_VERSION}
  ports:
    - ${AUTH_UI_PORT}:8080
  environment:
    - APIHOST=auth-api
    - APIPORT=3030
  links:
    - auth-api

auth-api:
  image: partixyz/auth-api:${AUTH_API_VERSION}
  ports:
    - ${AUTH_API_PORT}:3030
